div { 
    text-align: center;
  }

  .absolute {
    position: absolute;
  }
  
  .relative {
    position: relative;
    height: 0px;
  }

  #abs1 {
    top: 0px;
    left: 0px;
  }
  
  #rel1 {
    top: 30px;
    margin: 500px 50px 0px 50px;
  }